@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1165px; } }
@media (max-width: 1199px) {
  .img-3x-text figure .img-1 {
    width: 200px;
    height: 250px; }

  .img-3x-text figure .img-2 {
    width: 200px;
    height: 250px;
    left: 180px; }

  .img-3x-text figure .img-3 {
    width: 350px;
    height: 200px;
    top: 235px;
    left: 20px; }

  .img-3x-text .text .wrap {
    padding: 50px 75px 50px 25px; }

  h2 {
    font-size: 32px; }

  .text-img .text, .text-img .item-revers .text {
    padding: 0 50px 20px 50px; }

  footer .footer-content {
    grid-gap: 10px; }

  footer .footer-form-wrap .text {
    padding-left: 50px; }

  .page-banner h1 {
    font-size: 46px; }

  .contact-banner .wrap-form {
    padding: 40px 40px; }

  .contact-banner .btn-wrap {
    margin: 40px 0 80px; } }
@media (max-width: 991px) {
  .top-menu {
    display: none !important; }

  .top-line {
    padding: 10px 0; }
    .top-line .content {
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important; }

  .home-banner .slider-wrap {
    width: 100%; }

  .home-banner .left {
    width: 100%;
    padding: 0;
    margin-bottom: 30px; }

  .home-banner h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px; }

  .home-banner ul li {
    text-align: center;
    padding-left: 0;
    margin-bottom: 10px; }
    .home-banner ul li:before {
      position: relative;
      left: -15px; }

  .home-banner p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .home-banner ul {
    margin-bottom: 20px; }

  .home-banner .btn-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px; }

  .home-banner .swiper-slide {
    height: 400px; }
    .home-banner .swiper-slide img {
      -o-object-position: top center;
         object-position: top center; }

  .home-banner {
    padding-bottom: 80px; }

  .img-3x-text figure {
    width: 380px !important;
    margin: auto;
    height: 440px; }

  .img-3x-text .text .wrap {
    padding: 50px 150px; }

  .img-3x-text .bg-text {
    left: 85px;
    right: 85px; }

  .img-3x .item {
    width: calc(50% - 16px); }

  .img-3x .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .text-img .text, .text-img .item-revers .text {
    padding: 50px; }

  .text-img .item + .item {
    margin-top: 10px; }

  .item-4x .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 30px 20px; }
    .item-4x .content .item {
      width: calc(50% - 10px); }

  footer .footer-form-wrap .text {
    padding-left: 0;
    width: 46%; }

  footer .footer-form-wrap {
    padding: 40px; }

  footer .footer-form {
    width: 54%; }

  footer .footer-content .item {
    width: calc(50% - 5px); }

  .menu-responsive {
    width: 100%;
    background: transparent;
    background-size: cover;
    padding: 0;
    overflow: hidden auto;
    margin: 0;
    vertical-align: top;
    position: absolute;
    height: auto;
    max-height: 100%;
    right: -100vw;
    top: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    .menu-responsive:after {
      content: "";
      display: table;
      clear: both; }
    .menu-responsive .wrap {
      padding: 33px 30px 100px;
      width: 100%;
      float: right;
      background: #fff;
      min-height: 100vh; }
    .menu-responsive .btn-wrap {
      margin-top: 30px; }
    .menu-responsive .fancybox-close-small {
      display: none; }
    .menu-responsive .mob-menu-wrap {
      margin-bottom: 25px; }
      .menu-responsive .mob-menu-wrap > ul {
        display: block; }
        .menu-responsive .mob-menu-wrap > ul > li {
          margin-bottom: 15px;
          text-align: left; }
          .menu-responsive .mob-menu-wrap > ul > li > a {
            font-size: 24px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 40px;
            letter-spacing: normal;
            text-align: left;
            color: #0c2929;
            display: block;
            width: 100%; }
        .menu-responsive .mob-menu-wrap > ul > .menu-item-has-children > a {
          position: relative;
          padding-right: 25px; }
          .menu-responsive .mob-menu-wrap > ul > .menu-item-has-children > a:after {
            border-bottom: 1px solid #0c2929;
            border-right: 1px solid #0c2929;
            content: '';
            display: block;
            height: 10px;
            margin-top: 3px;
            pointer-events: none;
            position: absolute;
            right: 12px;
            top: 10px;
            -webkit-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
            width: 10px; }
        .menu-responsive .mob-menu-wrap > ul > .menu-item-has-children .is-open:after {
          -webkit-transform: rotate(-135deg);
                  transform: rotate(-135deg); }
        .menu-responsive .mob-menu-wrap > ul li:last-child {
          margin-bottom: 0; }
        .menu-responsive .mob-menu-wrap > ul .sub-menu {
          display: none;
          padding: 20px; }
          .menu-responsive .mob-menu-wrap > ul .sub-menu li {
            margin-bottom: 5px; }
            .menu-responsive .mob-menu-wrap > ul .sub-menu li > a {
              font-size: 20px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 32px;
              letter-spacing: normal;
              text-align: left;
              color: #0c2929; }
    .menu-responsive .logo-wrap {
      width: 115px;
      margin: 0 0 40px; }
      .menu-responsive .logo-wrap img {
        vertical-align: top;
        width: 100%; }

  .is-menu .menu-responsive {
    right: 0; }

  .menu-bar {
    position: fixed;
    bottom: 0;
    height: 68px;
    width: 100%;
    z-index: 99999999;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.16);
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.16); }
    .menu-bar .wrap-btn {
      width: 71px;
      height: 68px; }
      .menu-bar .wrap-btn a {
        background-color: #eff7ff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 8px; }
        .menu-bar .wrap-btn a b {
          display: block;
          margin-top: 1px;
          font-size: 10px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #1c5892; }
    .menu-bar .btn-tel {
      width: 71px;
      height: 68px; }
      .menu-bar .btn-tel a {
        background-color: #eff7ff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 27px;
        color: #1c5892; }
        .menu-bar .btn-tel a b {
          display: block;
          margin-top: 1px;
          font-size: 10px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #1c5892; }
        .menu-bar .btn-tel a img {
          width: 20px;
          -webkit-filter: brightness(0) saturate(100%) invert(26%) sepia(91%) saturate(848%) hue-rotate(177deg) brightness(90%) contrast(87%);
                  filter: brightness(0) saturate(100%) invert(26%) sepia(91%) saturate(848%) hue-rotate(177deg) brightness(90%) contrast(87%); }
    .menu-bar .open-menu.is-active .wrap span:first-child {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 8px; }
    .menu-bar .open-menu.is-active .wrap span:nth-child(2) {
      opacity: 0; }
    .menu-bar .open-menu.is-active .wrap span:last-child {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: -8px; }
    .menu-bar .btn-wrap {
      width: 137px; }
      .menu-bar .btn-wrap a {
        width: 100%;
        height: 42px;
        line-height: 42px;
        text-align: center; }

  .open-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .open-menu .wrap {
      display: block;
      width: 40px;
      height: 24px; }
    .open-menu .wrap span {
      display: block;
      width: 100%;
      height: 2px;
      background: #1c5892;
      position: relative;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
    .open-menu .wrap span + span {
      margin-top: 6px; }

  footer {
    padding-bottom: 80px; }

  .home-banner h1 > span span {
    right: 0; }

  .page-banner .left {
    width: 100%;
    padding: 0;
    margin-bottom: 30px; }

  .page-banner figure {
    width: 100%; }

  .contact-banner .text {
    width: 100%;
    padding: 0; }

  .contact-banner .wrap-form {
    width: 100%; }

  .contact-banner h1, .contact-banner p {
    text-align: center; }

  .contact-banner ul {
    width: 335px;
    margin: auto; }

  .contact-banner .btn-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }
@media (max-width: 767px) {
  .img-3x-text .text .wrap {
    padding: 50px 50px; }

  .img-3x-text .bg-text {
    left: 0;
    right: 0; }

  .home-banner .bg img {
    -webkit-transform: translate(-34%, 0);
            transform: translate(-34%, 0); }

  .img-3x-text .bg img {
    -webkit-transform: translate(-20%, 0);
            transform: translate(-20%, 0); }

  .img-3x .item {
    width: 100%; }

  footer .footer-form-wrap .text {
    padding: 0;
    width: 100%;
    margin-bottom: 20px; }

  footer .footer-form {
    width: 100%; }

  footer .footer-content {
    padding: 0 20px; }

  footer .footer-bottom {
    margin: 50px 20px 0;
    width: calc(100% - 40px); }

  .home-banner .swiper-pagination {
    margin-left: 30px; } }
@media (max-width: 575px) {
  .menu-responsive .wrap {
    padding: 30px 20px 100px; }

  .home-banner h1 {
    font-size: 32px; }

  .home-banner .swiper-slide {
    height: 250px; }

  .home-banner h1 > span {
    width: 100%; }

  .top-line .logo-wrap {
    width: 150px; }

  .img-3x-text figure {
    width: 320px !important; }

  .img-3x-text figure .img-2 {
    left: 125px; }

  .img-3x-text figure .img-3 {
    left: 3px; }

  .img-3x-text .text .wrap {
    padding: 20px 20px; }

  .img-3x-text .bg-text {
    display: none; }

  .text-img .text, .text-img .item-revers .text {
    padding: 20px; }

  .item-4x .content .item {
    width: 100%; }

  .item-4x .content {
    padding: 0 32px; }

  footer .footer-form-wrap {
    padding: 20px 15px; }

  .footer-form .input-wrap-submit .input-box p {
    font-size: 14px; }

  .footer-form .input-wrap-submit .input-box label {
    margin-top: -9px; }

  footer .footer-content .item {
    width: 100%; }

  footer .footer-content {
    grid-gap: 25px; }

  .text-img {
    padding: 30px 0; }

  .img-3x .wrap {
    padding: 0 12px; }

  footer .footer-form-wrap {
    margin: 0 12px;
    width: calc(100% - 24px); }

  .block-404 h1 {
    font-size: 36px; }

  .block-404 p {
    font-size: 16px; }

  .page-banner figure img {
    height: 70vw; }

  .text-2x .content {
    -webkit-columns: 1;
            columns: 1; }

  .contact-banner .wrap-form {
    padding: 20px 15px; }

  .img-3x-text figure {
    display: none; }

  .img-3x-text .slider-wrap {
    display: block;
    max-width: 100%; }
    .img-3x-text .slider-wrap .swiper-slide {
      height: 400px; }
      .img-3x-text .slider-wrap .swiper-slide img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: top center;
           object-position: top center; }
    .img-3x-text .slider-wrap .swiper-pagination-bullet {
      border: solid 1px #fff;
      width: 18px;
      height: 18px;
      background: transparent;
      border-radius: 100% 100% 0 100%;
      opacity: 1;
      margin: 0 10px !important; }
    .img-3x-text .slider-wrap .swiper-pagination-bullet-active {
      background: #fff; } }

/*# sourceMappingURL=responsive.css.map */